# -------------------------
# macOS filesystem junk
# -------------------------
.DS_Store
.AppleDouble
.LSOverride
__MACOSX/

# -------------------------
# Python bytecode
# -------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.pkl

# -------------------------
# Virtual Environments
# -------------------------
venv/
.env/
.venv/
env/
pip-wheel-metadata/
pip-wheel-metadata/*

# -------------------------
# Build / packaging
# -------------------------
build/
dist/
*.egg-info/
